/* We gebruiken hier Cascade layers, wat mogelijke problemen met Specificiteit voorkomt
   https://developer.mozilla.org/en-US/docs/Learn_web_development/Core/Styling_basics/Cascade_layers
   https://css-tricks.com/css-cascade-layers/ */


   @layer styleguide{

   

:root {
   /* kleuren */
    --background-color: #FFFFFF;
    --background-color-secondary: #F6F5F5;
    --accentcolor: #E0B000;
    --textcolor: #000000;
    --formcolor: #466EBF;
    --footercolor: #F9F2D4;
    --accent-primary: #B2291F;
    --accent-secondary: #AA2677;


    /* Typografie */

  --font-family-body: "parkinsans", sans-serif;
  --headidng-font-weight:500; 

  /* headings*/
  --h1-size: 40px;
  --h2-size: 20px;
  --h3-size: 18px;

  --p-size: 16px;
  --line-height: 16px;


    /* Formulier elementen */

   }
}

h1 {
    font-size: var(--h1-size);
    font-family: var(--font-family-body);
}

p {
    line-height: var(--line-height);
}

.color {

  color: white;
  font-family: var(--font-family-body);
}

.color-background { background-color: var(--background-color); color: black; }
.color-background-secondary { background-color: var(--background-color-secondary); color: black; }
.color-accentcolor { background-color: var(--accentcolor); }
.color-accent-primary { background-color: var(--accent-primary); }
.color-accent-secondary { background-color: var(--accent-secondary); }
.color-textcolor { background-color: var(--textcolor); }
.color-formcolor { background-color: var(--formcolor); }
.color-footercolor { background-color: var(--footercolor); color: black; }
